<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <title>Base</title>
</head>

<body class="bg-secondary">
    <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
        <a class="navbar-brand font-weight-bold" href="{% url 'index' %}">Home</a>
        <ul class="navbar-nav">
            <!-- {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'quizapp:list' %}" class="font-weight-bold nav-link">Give A Test</a></li>
            <li class="nav-item"><a href="{% url 'quizapp:hello' %}" class="font-weight-bold nav-link">Create Test</a></li>
            <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="font-weight-bold nav-link">Logout</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'accounts:login' %}" class="font-weight-bold nav-link">Login</a></li>
            <li class="nav-item"><a href="{% url 'accounts:signup' %}" class="font-weight-bold nav-link">SignUp</a></li>
            {% endif %} -->
            <li class="nav-item"><a href="{% url 'quizapp:list' %}" class="font-weight-bold nav-link">Give A Test</a></li>
            <li class="nav-item"><a href="{% url 'quizapp:hello' %}" class="font-weight-bold nav-link">Create Test</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

</body>

</html>