{% extends 'base.html' %}

{% block content %}

<!-- {% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} -->


<div class="container">
  <form method="GET" action="{% url 'quizapp:choice' pk=question.id %}">
    {% csrf_token %}
    <h3>{{question.id}}/10</h3>
    <h2 class="ml-5 text-light">{{ question.question_text }}</h2>
    <div class="row">
      {% for ans in answer %}
      <div class="card bg-dark col-lg-3 col-md-4 col-sm-12 mt-3 py-2 px-auto ml-5" style="width:250px;">
        <label>
          <input type="radio" name='choice' style="width:0px; height:0px; opacity: 0px;" value="{{ ans.id }}">
          {% if ans.answer_image %}
          <img src="{{ ans.answer_image.url }}" value="{{ ans.answer_text }}" name="choice" alt="img" width="250px"
            height="180px" />
        </label>
        {% else %}
        <p>{{ ans.answer_text }}</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <br><br>
    <center>
      <button class="btn btn-success" type="submit">Submit</button>
    </center>
  </form>
</div>


{% endblock %}